{% extends 'base.html' %}

{% block head %}
<title>Edit Post</title>
{% endblock %}

{% block body %}
<h2>Edit Blog Post</h2>
<form class="form my-2 my-md-0" action="/posts/edit/{{post.id}}" method="POST">
  <label for="title">Title:</label>
  <input class="form-control" type="text" name="title" id="title" value="{{post.title}}">
  <br>
  <label for="author">Author:</label>
  <input class="form-control" type="text" name="author" id="author" value="{{post.author}}">
  <br>
  <label for="content">Post:</label>
  <textarea class="form-control" type="text-area" name="content" id="content" rows="4">{{post.content}}</textarea>
  <br>
  <input class="form-control" type="submit" value="Save">
</form>
{% endblock %}
