{% extends 'base.html' %}

{% block head %}
<title>Edit Post</title>
{% endblock %}

{% block body %}
<h2>Edit Blog Post</h2>
<form class="form my-2 my-md-0" action="/posts" method="POST">
  <label for="title">Title:</label>
  <input class="form-control" type="text" name="title" id="title" placeholder="Enter Title">
  <br>
  <label for="author">Author:</label>
  <input class="form-control" type="text" name="author" id="author" placeholder="Enter Author">
  <br>
  <label for="content">Post:</label>
  <textarea class="form-control" type="text-area" name="content" id="content" rows="4" placeholder="Enter Content"></textarea>
  <br>
  <input class="form-control" type="submit" value="Submit">
</form>
{% endblock %}
